@font-face {
  font-family: myfont;
  src: url(../assets/fonts/Retro\ Gaming.ttf);
}

* {
  font-family: "myfont", sans-serif;
}

h1 {
  font-weight: bold;
  color: #ffff40db;
  font-size: 48px;
}
.gamename {
  background-color: rgb(71, 71, 71);
  display: flex;
  justify-content: center;
}

body {
  background-color: rgb(32, 32, 32);
}

a {
  color: whitesmoke;
}
h2 {
  font-weight: bold;
  font-size: 36px;
  color: #ffff40db;
}
h3 {
  font-weight: bold;
  font-size: 28px;
  color: whitesmoke;
}

/*Scoreboard*/

.scoreboard {
  padding: auto;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.scoreboard p {
  font-size: 28px;
  color: whitesmoke;
}

.scoreboard h2 {
  align-self: center;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 3%;
  margin: 1%;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 3%;
  margin: 1%;
}

.round-result {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.picks {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 28px;
  color: whitesmoke;
}
/*Rules*/

.rules {
  background-color: rgb(97, 97, 97);
  display: flex;
  justify-content: space-evenly;
  font-size: 32px;
}

/*Weapon selection*/

.buttons {
  padding: auto;
  display: flex;
  justify-content: space-evenly;
  background-color: #cfcfcf;
}

.buttons img {
  width: 150px;
  height: auto;
}

.btn-square {
  padding: 5px;
  margin: 5px;
  background-color: #898989;
  border: 1px;
  border-radius: 5%;
  box-shadow: inset;
}

.btn-square:hover {
  background-color: #bdbdbd;
}

.btn-square:active {
  background: #ebebeb;
}

/*footer*/

.footer {
  margin-top: 4%;
  display: flex;
  justify-content: center;
}

.maingame {
  display: flex;
  flex-direction: column;
}
